.menu-item {
    .mat-mdc-button {
      .mat-icon.menu-icon {
        margin-right: 12px;
        padding: 7px;
        border-radius: 50%;
        width: 30px !important;
        height: 30px;
      }
    }
  }
  